* {
  padding: 0;
  margin: 0;
}


table {
  border: 25px #3a4965 solid;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 50px auto;
  font-size: 16px;
  color: #484848;
  text-transform: uppercase;
  font-family: arimo, sans-serif;
  
}

td {
  padding: 0 35px;
  border: 1px solid rgb(189, 185, 185);
}
tr:nth-child(n+3) td {
  padding: 25px;
}
i {
  padding-right: 10px;
  color: #848484;
  font-size: 24px;
}

.top-row  {
  background-color: #fafafa;
 height: 70px;
;
 
}

.row3, .row5, .row7 {
  background-color: #f2f2f2;
}

.row4, .row6, .row8 {
  background-color: #e3e3e3;
}

.big-text {
  font-size: 24px;
  font-weight: 700;
}

.very-big-text {
  font-size: 30px;
  font-weight: 700;
}

.choose-small {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
 
}

.choose-big {
  margin: 0;

}



.price {
  font-size: 60px;
  font-weight: 700;
  background-color: #fafafa;
  height: 86px;
  padding: 0 30px;
}



sub {
  font-size: 18px;
  font-weight: 400;
  margin-left: -35px;
  line-height: 1px;
  position: relative;
  top: -12px;
}

sup {
  font-size: 24px;
  font-weight: 700;
}

.button input {
  padding: 18px 58px;
  background-color: rgb(73, 65, 65);
  border-radius: 7px;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-transform: uppercase;
  font-family: arimo, sans-serif;
  font-weight: 700;
}

.button.black {
  background-color: #dddddd;
}

.green input, .green-top {
  background-color: #89c331;
}

.red input, .red-top {
  background-color: #f04a56;
}

.blue input, .blue-top {
  background-color: #20807c;
}

.last-row {
  height: 80px;
}

.button.black {
  padding: 25px 50px;
}

.white-latter {
  color: rgb(255, 255, 255);
}

.black input:hover {
  background: radial-gradient(rgb(75, 48, 48), red, green);
}

.green input:hover {
  background: linear-gradient(yellow, red, green);
}

.red input:hover {
  background: radial-gradient(blue 30%, red 15%, yellow);
}

.blue input:hover {
  background: linear-gradient(30deg, black, red, green);
}
