@font-face {
  font-family: arimo;
  src: url(../fonts/Arimo/Arimo-Bold.ttf);
}

@font-face {
  font-family: arimo;
  src: url(../fonts/Arimo/Arimo-Regular.ttf);
}

/* arimo-regular - latin */

@font-face {
  font-family: Arimo;
  src: url('../fonts/arimo-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Arimo Regular'), local('Arimo-Regular'), url('../fonts/arimo-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/arimo-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/arimo-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/arimo-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/arimo-v12-latin-regular.svg#Arimo') format('svg');
  /* Legacy iOS */
}

/* arimo-700 - latin */

@font-face {
  font-family: 'Arimo';
  src: url('../fonts/arimo-v12-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Arimo Bold'), local('Arimo-Bold'), url('../fonts/arimo-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/arimo-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/arimo-v12-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/arimo-v12-latin-700.tf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/arimo-v12-latin-700.svg#Arimo') format('svg');
  /* Legacy iOS */
}

table {
  margin: 50px auto;
  text-transform: uppercase;
  border: solid 25px #3a4965;
  font-size: 16px;
  color: #484848;
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  font-family: Arimo;
}

td {
  border: rgb(160, 157, 157) solid 1px;
  width: 157px;
}

i {
  color: #848484;
  font-size: 24px;
}

.first-row {
  font-size: 20px;
  font-weight: 700;
}

.first-cell {
  background-color: #fafafa;
  width: 198px;
  height: 112px;
}

.big-text {
  font-size: 24px;
}

.green {
  background-color: #89c331;
}

.red {
  background-color: #f04a56;
}

.blue {
  background-color: #20807c;
}

.choose-small {
  font-size: 14px;
}

.choose-big {
  font-size: 20px;
}

.big-price {
  font-size: 36px;
  color: white;
  font-weight: 700;
}

.big-price>p {
  font-size: 24px;
  margin-top: 10px;
}

.big-price sub {
  font-size: 14px;
  position: relative;
  bottom: 10px;
  left: 5px;
}

.big-price sup {
  font-size: 18px;
}

input {
  display: block;
  width: 145px;
  height: 40px;
  margin: 18px auto;
  margin-bottom: 20px;
  background-color: #414141;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
}

input:hover {
  background: repeating-linear-gradient(45deg, red 5px, blue 10px, green 15px, yellow 25px);
}
input:active {
  background: repeating-linear-gradient(-45deg, red 5px, blue 10px, green 15px, yellow 25px); 
}

td:nth-child(7n-1) {
  background-color: #e3e3e3;
}

td:nth-child(7n-3) {
  background-color: #e3e3e3;
}

td:nth-child(7n-5) {
  background-color: #e3e3e3;
}

td:nth-child(7n) {
  background-color: #f2f2f2;
}

td:nth-child(7n-2) {
  background-color: #f2f2f2;
}

td:nth-child(7n-4) {
  background-color: #f2f2f2;
}

td p {
  margin: 0;
}